<h1> Application </h1>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>EAI</th>
        <th>Target Date</th>
        <th>is Completed?</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <!--   for (Application application: applications) {  -->
              <tr *ngFor="let application of applications">
                <td>{{application.EAI}}</td>
                <td>{{application.targetDate | date | uppercase}}</td>
                <td>{{application.done}}</td>
                <td><button (click)="updateApplication(application.id)" class="btn btn-success">Update</button></td>
                <td><button (click)="deleteApplication(application.id)" class="btn btn-warning">Delete</button></td>
              </tr>
      <!-- } -->
    </tbody>

  </table>

  <div class="row">
      <button (click)="addApplication()" class="btn btn-success">Add</button>
  </div>

</div>